#profileContainer {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    margin-top: 90px;
    margin-bottom: 100px;
}

#addPostContainer {
    position: fixed;
    bottom: 40px;
    text-align: center;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

#addPostContainer button {
    padding: 0px 7rem;
    font-size: 2.6rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid grey;
    color: #202020;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#addPostContainer button:hover {
    padding: 0px 8rem;
}

#profileInfoContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-right: 100px;
}

.profileImage {
    margin-right: 5rem;
}

.profileImage img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.profileInfo {
    text-align: left;
}

.profileInfo span {
    margin-right: 12px;
}

#postsContainer {
    text-align: center;
    margin: 2rem 10%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.postContainer {
    margin: 10px;
    flex-grow: 1;
}

.postContainer img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}

.postContainer img:hover {
    opacity: 0.5;
}

#addPost {
    border: #202020 solid 1px;
    width: 70vw;
    height: 33vw;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.9);
}

#addPost form label {
    text-align: center;
    display: block;
    font-size: calc(22pt - 9pt);
    margin-top: calc(2rem - 10px);
}

#addPost form input {
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: inherit;
    border: 0;
    outline: 0;
    font-size: calc(1.5rem - 10px);
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    width: calc(46% + 55px);
    border-bottom: 1.5px solid #EE82EE;
    color: #dc00dc;
    background: none;
}