#detailsWrapper {
    position: fixed;
    bottom: 0px;
    top: 0px;
    width: 100%;
    margin: 0;
    background-color: rgba(var(--jb7, 0, 0, 0), .5);
    z-index: 1000;
    text-align: center;
    justify-content: center;
}

#detailsContainer {
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    box-shadow: 0 1px 30px 0 rgba(255, 0, 255, 0.6), 0 0px 5px 0 rgba(255, 0, 255, 0.6);
    top: 45px;
    position: fixed;
    background-color: #fff;
    display: flex;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.rightInfo {
    display: block;
}

.detailsHeader {
    text-align: left;
    margin-left: 1.8em;
    margin-top: 5px;
}

.detailsHeader span {
    font-size: calc(1.5rem - 0.1rem);
}

.contentWrapper img {
    width: 590px;
    height: 510px;
    object-fit: cover;
}

.detailsContainer .postDetailsFeed {
    background-color: #ffff;
    display: inline !important;
}

.postDetailsFeed {
    text-align: left;
    padding-left: 12px;
    width: calc(250px - 1em);
    margin-right: 30px;
}

.postDetailsFeed div {
    display: inline;
    padding-right: 15px;
    padding-bottom: 10px;
}

.postDetailsFeed div:first-child {
    font-size: 1.7rem !important;
}

.postDetailsFeed div:last-child {
    display: block !important;
}

.postDetailsFeed div i:hover svg {
    fill: purple;
}

.postDetailsFeed div i {
    color: grey;
}

.postDetailsFeed div i:hover {
    color: purple;
    cursor: pointer;
}

.commentsDetailsContainer input {
    outline: none;
    border: none;
    width: 80%;
    font-size: 1.3rem;
    bottom: 0;
    padding-top: 1px;
    padding-bottom: 10px;
}

.commentDetailsSection {
    max-height: 325px;
    height: 325px;
    overflow-y: scroll;
    margin-bottom: 15px;
    text-align: left;
}

.commentDetailsSection span {
    display: block;
    padding: 1px 10px 3px;
}

.commentsDetailsContainer #postCommentButton {
    font-size: 1.5rem;
    cursor: pointer;
    color: purple;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

@media only screen and (max-width: 895px) {
    #detailsContainer {
        display: block;
    }
    .contentWrapper img {
        width: 390px;
        height: 260px;
        object-fit: cover;
    }
    .commentDetailsSection {
        max-height: 255px;
        height: 155px;
        overflow-y: scroll;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 420px) {
    #detailsContainer {
        display: block;
        top: 90px;
    }
    .contentWrapper img {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
    .commentDetailsSection {
        max-height: 155px;
        height: 105px;
        overflow-y: scroll;
        margin-bottom: 15px;
    }
}