#headerContainer {
    border: 1px solid #52006A;
    border-right: none;
    background-color: #ffff;
    height: 65px;
    width: 100%;
    position: fixed;
    display: inline-flex;
    top: 0;
    z-index: 1000 !important;
}

#titleLogo {
    position: fixed;
}

#titleLogo span img {
    float: left;
    width: 90px;
}

#titleLogo {
    display: none;
}

#title {
    margin: 0 auto;
    text-align: left;
    cursor: default;
    color: #52006A;
    margin-top: 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0px 30px 0px 30px;
    box-shadow: 0px 0px 0px 0px rgb(255, 2, 255, 2), -10px -56px 100px 4px rgb(255, 0, 255, 0.9);
}

#title span:nth-child(1) {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}

#title span:nth-child(2) {
    font-size: 1.6rem;
    font-family: 'Klavika';
}

#searchContainer {
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 20px;
    text-align: center;
}

#searchContainer .search {
    padding: 5px calc(30px - 10px);
    border-radius: 20px;
    border: 1px solid #52006A;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#searchContainer .search:focus {
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #52006A;
    box-shadow: 0 1px 1px 0 rgb(255, 0, 255, 0.6), 0 16px 15px 0 rgb(255, 0, 255, 0.6);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

#searchContainer .search:focus {
    outline: none;
}

#options {
    margin: 0 auto;
    margin-top: 20px;
    right: 0;
    color: #52006A;
    font-size: 1.2em;
    display: inline-block;
}

#options span {
    margin-right: 30px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

#options span:hover {
    box-shadow: 0 0px 0px 0 rgb(255, 0, 255, 0.6), 0 20px 15px 0 rgb(255, 0, 255, 0.5);
}

.arrowEffect {
    right: 0;
    background: rgba(var(--d87, 255, 255, 255), 1);
    height: 24px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    margin-right: 15px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    z-index: -1;
}

#dropDown {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 13px 0 rgb(220, 0, 220, 0.6), 0 1px 1px 0 rgb(220, 0, 220, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 8%;
    z-index: 1000 !important;
    background-color: #fff;
    margin-top: 65px;
    text-align: left;
}

#dropDown li {
    padding: 6px 30px 6px;
    margin-bottom: 2px;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#dropDown li:hover {
    background-color: #f3f3f3;
}

#dropDown li:nth-child(3) {
    margin-bottom: 10px;
}

.barsContainer {
    display: none;
    cursor: pointer;
    z-index: 1000;
    margin: 0 auto;
    margin-top: 15px;
    margin-right: 2%;
    right: 0;
    position: fixed;
}

.bar1,
.bar2,
.bar3 {
    width: 33px;
    height: 4px;
    background-color: rgb(255, 0, 255, 0.5);
    margin: 5px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.barsContainer:hover .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    -moz-transform: rotate(-45deg) translate(-9px, 6px);
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    -o-transform: rotate(-45deg) translate(-9px, 6px);
    background-color: rgb(255, 0, 255, 1);
}

.barsContainer:hover .bar2 {
    opacity: 0;
}

.barsContainer:hover .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    -moz-transform: rotate(45deg) translate(-8px, -8px);
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    -o-transform: rotate(45deg) translate(-8px, -8px);
    background-color: rgb(255, 0, 255, 1);
}

@media only screen and (max-width: 1300px) {
    #dropDown {
        margin-right: 5%;
    }
}

@media only screen and (max-width: 1020px) {
    .barsContainer {
        display: block;
    }
    #dropDown {
        margin-right: 0%;
    }
    #dropDown a:nth-child(4) {
        display: block !important;
        color: #52006A;
    }
    #options {
        display: none;
    }
}

@media only screen and (max-width: 1020px) {
    #title {
        display: none;
    }
    #titleLogo {
        display: block;
    }
}

@media only screen and (max-width: 620px) {
    #searchContainer .search {
        padding: 5px calc(30px - 16px);
        width: 150px;
    }
}