.formContainer,
.formContainerLogin {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0px 205px 0 rgb(220, 0, 220, 0.6), 0 20px 30px 0 rgb(220, 0, 220, 0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: calc(6rem - 56px);
    margin-right: 11.5vw;
    margin-left: 11.5vw;
}

.formContainerLogin {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-right: 12.5vw;
    margin-left: 12.5vw;
}

.formContainerLogin .formDefault label {
    text-align: center;
    display: block;
    font-size: calc(22pt - 8pt);
    margin-top: calc(2rem - 20px);
    margin-bottom: calc(2rem - 20px);
}

.formContainerLogin .inputDefault {
    margin-top: 4.5%;
    margin-bottom: 4.5%;
    font-family: inherit;
    border: 0;
    outline: 0;
    font-size: calc(1.5rem - 7px);
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    width: calc(46% + 65px);
    border-bottom: 1.5px solid #EE82EE;
    color: #dc00dc;
    background: none;
}

.authRedirect span {
    color: #EE82EE;
    text-decoration: underline #EE82EE;
}

.formDefault {
    text-align: center;
}

.formDefault label {
    text-align: center;
    display: block;
    font-size: calc(22pt - 10pt);
    margin-top: calc(2rem - 25px);
}

.inputDefault {
    margin-top: 3%;
    margin-bottom: 3%;
    font-family: inherit;
    border: 0;
    outline: 0;
    font-size: calc(1.5rem - 10px);
    transition: border-color 0.2s;
    -webkit-transition: border-color 0.2s;
    -moz-transition: border-color 0.2s;
    -ms-transition: border-color 0.2s;
    -o-transition: border-color 0.2s;
    width: calc(46% + 55px);
    border-bottom: 1.5px solid #EE82EE;
    color: #dc00dc;
    background: none;
}

.inputDefault:focus {
    width: calc(46% + 65px);
}

.errorMessage {
    border: solid 1px #EE82EE;
    width: 60%;
    margin-left: 20%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.errorMessage span {
    text-decoration: underline;
    font-size: calc(13pt - 2pt);
}

.goHomeButton {
    left: 0;
    top: 0;
    position: fixed;
    width: 0;
    height: 0;
    border-top: 60px solid #fff;
    border-right: 60px solid transparent;
}

.goHomeButton img {
    width: 35px;
    top: 0;
    left: 0;
    position: fixed;
    cursor: pointer;
    transition: 0.5s linear;
    -webkit-transition: 0.5s linear;
    -moz-transition: 0.5s linear;
    -ms-transition: 0.5s linear;
    -o-transition: 0.5s linear;
}

.goHomeButton .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: grey;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: fixed;
    top: 15px;
    left: 50px;
    z-index: 1;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.goHomeButton:hover .tooltiptext {
    visibility: visible;
}

@media only screen and (max-width: 880px) {
    .formContainer,
    .formContainerLogin {
        margin-top: 7rem;
    }
}